html {
    height: 100%;
    width: 100%;
    background-color: #247BA0;
}

body {
    font-family: "Source Sans Pro";
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
#header {
    background-color: #C2D3CD;
    border-radius: 25px;
    padding: 5px;
}
#profile {
    border-radius: 70px
}
.body {
    background-color: #6290C3;
    border-radius: 25px;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 50px
}
th {
    padding: 20px;
    background: #1A1B41; 
    color: white;
}

table {
    width: 100%;
}